body{
    background-image: url("images/grey_wash_wall/grey_wash_wall.png");
}

#header{
    color: wheat;
    border-style: solid;
    border-color: wheat;
    border-left: none;
    border-right: none;
    border-top: none;
}

#title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 40px;
}

#description{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
}

#currentdate{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

#planner{
  border-style: solid;
  color: black;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: wheat;
    text-align: center;
    border-style: solid;
    border-color: wheat;
    border-left: none;
    border-right: none;
    border-bottom: none;  
}

  html, body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .footer,
  .push {
    height: 50px;
  }