body{
    background-image: url("images/grey_wash_wall/grey_wash_wall.png");
}

#header{
    color: wheat;
    margin-top: 20px;
    border-style: solid;
    border-color: wheat;
    border-left: none;
    border-right: none;
    border-top: none;
}

#title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 40px;
}

#description{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
}

#currentdate{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

#planner{
  border-style: solid;
  color: black;
}


.container{
  margin-top: 50px;
  margin-bottom: 100px;
}

.hour{
  background-color: rgb(104, 37, 37) ;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  color: wheat;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.saveBtn{
  background-color: rgb(31, 94, 31);
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  color: wheat;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.description{
  background-color: rgb(77, 77, 77);
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  border-style: double;
  border-color: black;
  color: wheat;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: wheat;
    text-align: center;
    border-style: solid;
    border-color: wheat;
    border-left: none;
    border-right: none;
    border-bottom: none;  
}

  html, body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .footer,
  .push {
    height: 50px;
  }